.imagenes-consultas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenido-imagen {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contenido-imagen p {
  font-size: 1rem;
  color: brown;
  font-weight: bold;
  border: 2px solid brown;
  width: 100%;
  padding: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  color: brown;
}
body {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
